@charset "UTF-8";

@font-face {
	font-family: 'SB_Aggro_Bold';
	src: url('../../fonts/SB_aggro_B.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SB_Aggro_Light';
	src: url('../../fonts/SB_aggro_L.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'SB_Aggro_Medium';
	src: url('../../fonts/SB_aggro_M.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--background-color: #161719;
	--color-theme-01: #3ADE3C;
	--color-theme-02: #DE3A86;
	--color-theme-03: #DEAA3A;
	--color-theme-04: #484F5E;
	--secondaryTextColor: #A9AEBA;
	--error-color: #D43F42;
}

body {
	background-color: #161719;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.container {
	text-align: center;
	color: white;
}

#modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

.modal {
	display: none;
	background: white;
	border-radius: 8px;
	padding: 20px;
	width: 90%;
	max-width: 500px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	animation: fadeIn 0.3s ease-in-out;
}

#play-method-modal {
	background: #484F5E;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* 세로 방향으로 시작 위치에 정렬 */
	padding-top: 30px; /* 상단 여백 */
}

#play-method-modal>h2 {
	font-size: 32px;
	margin: 0;
	text-align: center;
	width: 100%; /* 가운데 정렬을 위해 전체 너비 차지 */
}

h1 {
	font-size: 100px;
	margin-top: 100px;
	margin-bottom: 0;
	font-family: 'SB_Aggro_Medium';
	font-weight: normal;
	font-style: normal;
	margin-top: 100px;
}

h2 {
	font-size: 20px;
	margin: 0;
	margin-bottom: 150px;
	font-family: 'SB_Aggro_Light';
	color: #A9AEBA;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.btn {
	font-size: 18px;
	padding: 15px 10px;
	text-align: center;
	font-family: 'SB_Aggro_Light';
	border: none;
	border-radius: 8px;
	background-color: #484F5E;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-top {
	width: 400px;
}

.btn-mid {
	width: 200px;
}

.btn-bottom {
	width: 150px;
}

.btn-top:hover, .btn-mid:hover, .btn-bottom:hover {
	background-color: #DE3A86;
}

.btn-group {
	display: flex;
	justify-content: center;
	gap: 10px;
}

#btn1 {
	width: 50px;
}