@charset "UTF-8";

body {
	background-color: #161719;
	display: flex;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.container {
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-container {
	display: flex;
	width: 400px;
	padding: 20px;
}

#modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

.modal {
	display: none;
	background: white;
	border-radius: 8px;
	padding: 20px;
	width: 90%;
	max-width: 500px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	animation: fadeIn 0.3s ease-in-out;
}

#play-method-modal {
	background: #484F5E;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 30px;
}

#play-method-modal>h2 {
	font-size: 32px;
	margin: 0;
	text-align: center;
	width: 100%;
}

#login-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 30px;
}

#login-modal h2 {
	text-align: center;
	color: black;
	font-family: 'SB_Aggro_Medium';
	margin: 0 0 20px 0;
	font-size: 24px;
}

#login-modal form, #login-modal .social-login {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-modal input, #login-modal button {
	width: 100%;
	margin-bottom: 10px;
}

h1 {
	font-size: 100px;
	margin-top: 100px;
	margin-bottom: 0;
	font-family: 'SB_Aggro_Medium';
	font-weight: normal;
	font-style: normal;
	margin-top: 100px;
}

h2 {
	font-size: 20px;
	margin: 0;
	margin-bottom: 150px;
	font-family: 'SB_Aggro_Light';
	color: #A9AEBA;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.btn {
	font-size: 18px;
	padding: 15px 10px;
	text-align: center;
	font-family: 'SB_Aggro_Light';
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-group-mid {
	display: flex;
	justify-content: space-between;
	width: 100%; 
	gap: 10px;
}

.btn-group-bottom {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.btn-top {
	width: 100%;
	background-color: #578FFF;
}

.btn-mid {
	flex: 1; 
	width: 50%; 
	background-color: #484F5E;
}

.btn-bottom {
	width: 150px;
	background-color: #484F5E;
}

.btn-mid:hover, .btn-bottom:hover {
	background-color: #DE3A86;
}

.btn-group {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.modal>social-login {
	widows: 200
}

#btn1 {
	width: 50px;
}

.error-msg-group {
	display: none;
}