@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
}

input {
	outline: none;
	padding: 8px;
	border-radius: 8px;
}

input:focus {
	background-color: none;
}

form>h2 {
	margin: 20px auto;
}

#main {
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	width: 100%;
	background-color: var(--color-theme-04);
	text-align: center;
	box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
	height: 100vh;
}

#cont-wrap {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.game-room {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 20px;
	padding: 20px;
	min-height: 70vh;
}

.room-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.room {
	width: 100%;
	height: 100%;
	padding: 10px;
	border-radius: 5px;
	background-color: #f0f0f0;
	text-align: center;
	cursor: pointer;
	min-width: 235px;
}

.game-room>.room>div:last-child {
	padding-top: 10px;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.game-room>.room>div:last-child>div:last-child {
	font-size: 12px;
}

#room-top {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: var(--color-theme-04);
	border-radius: 4px;
	padding: 8px;
}

#room-top>p:first-child {
	width: 30px;
	height: 25px;
	line-height: 25px;
	background-color: #dad3d3;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	background-color: #dad3d3;
}

#room-top>p:last-child {
	color: white;
	font-size: 14px;
}

.room>div:last-child {
	display: flex;
	justify-content: space-between;
}

.room>div:last-child>div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.room>div:last-child>div div {
	display: flex;
	gap: 5px;
	align-items: center;
}

#modal-cont>div {
	padding-bottom: 4px;
}

.input-wrap {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.input-wrap>input {
	flex: 1;
}

.input-wrap>span {
	width: 90px;
	text-align: left;
}

.input-wrap>div {
	width: 90px;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.input-wrap>div>span {
	text-align: left;
	margin-right: 5px;
}

.pw-wrap {
	display: flex;
	align-items: center;
}

.pw-wrap>div:first-child {
	width: 90px;
	display: flex;
	align-items: center;
	gap: 4px;
}

.pw-wrap>div:last-child {
	flex: 1;
}

.pw-wrap>div:last-child span {
	text-align: left;
}

#btn-wrap {
	display: flex;
	gap: 10px;
	padding-left: 20px;
}

#btn-wrap>button {
	background-color: var(--background-color);
	color: white;
}

button {
	min-width: 80px;
	color: var(--background-color);
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#submitButton, #joinRoomBtn {
	width: 100%;
	margin-top: 20px;
}

#passwordField {
	display: flex;
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	width: 30%;
	min-width: 300px;
	min-height: 200px;
	border-radius: 8px;
	background-color: var(--background-color);
	color: white;
}

.close-btn {
	color: var(--color-theme-04);
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 28px;
	transition: 0.2s;
}

.close-btn:hover, .close-btn:focus {
	text-decoration: none;
	cursor: pointer;
	color: white;
}

#roomNumber:disabled {
	color:white;
}

#joinRoomForm {
	display: none;
}

#roomPasswordError {
	display: none;
}

.error-msg {
	font-size: 12px;
	font-weight: bold;
	color: #D43F42;
	display: none;
	margin-top: 4px;
}

#errorMessage {
	margin-top: 40px;
}

#lobby-wrap {
	display: flex;
}

#header {
	color: white;
	min-width: 300px;
	background-color: var(--background-color);
	padding: 20px;
}